* {
    padding: 0;
    margin: 0;
    font-family: 'Consolas';
    background-color: #1a1818;
    color: #dadada;
}

h1.title {
    text-align: center;
    animation: 20s cubic-bezier(0.62, 1.4, 0, -0.32) infinite rainbow;
}

#app {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
#app > img {
    width: 360px;
}

@keyframes rainbow {
    0% {
        color: red;
    }

    14% {
        color: orange;
    }

    28% {
        color: yellow;
    }

    42% {
        color: green;
    }

    56% {
        color: blue;
    }

    70% {
        color: indigo;
    }

    84% {
        color: violet;
    }

    100% {
        color: red;
    }
}

canvas {
    margin: 50px;
}